{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="hero-full-container background-image-container white-text-container" style="background-image:url('../../static/assets/images/bg.jpg')">
  <div class="overlay-gradient"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7 col-md-offset-1">
        <div class="hero-full-wrapper">
          <div class="text-content">
            <h1>Benson Mwaniki</h1>
            <p>Hello. My name is Benson Mwaniki I am Graphic designer,Web designer and software developer.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-7 col-md-offset-1">
          <div class="download_area">
                <div class="container">
                <div class="row">
                  <div class="col-xl-10">
                    <div class="download_text">
                      <h3>I’m a Creative director based on New York, who loves clean, simple &amp; unique design. I also enjoy crafting </h3>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="download_left">
                      <p>Proin laoreet elementum ligula, ac tincidunt lorem accumsan nec. Fusce eget urna ante. Donec massa velit, varius a accumsan ac, tempor iaculis massa. Sed placerat justo sed libero varius vulputate. Ut a mi tempus massa malesuada fermentum.
                      </p>
                      <p>Sed eleifend sed nibh nec fringilla. Donec eu cursus sem, vitae tristique ante. Cras pretium rutrum egestas. Integer ultrices libero sed justo vehicula, eget </p>
                      <a href="#" class="boxed-btn3-line">Download CV</a>
                    </div>
                  </div>
                  <div class="col-lg-5 offset-lg-1 col-md-6">
                    <div class="progress_skills">
                      <div class="single_progress">
                        <div class="label d-flex justify-content-between">
                          <span>Wireframing</span>
                          <span>90%</span>
                        </div>
                        <div class="progress">
                          <div class="progress-bar " role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="single_progress">
                        <div class="label d-flex justify-content-between">
                            <span>UI/UX</span>
                            <span>70%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar " role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="single_progress">
                          <div class="label d-flex justify-content-between">
                              <span>Interaction design</span>
                              <span>45%</span>
                          </div>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}